export OS_USERNAME=admin
export OS_TENANT_NAME=admin
export OS_PASSWORD={{ admin_pass }}
export OS_AUTH_URL=http://{{ controller_ip }}:5000
export OS_REGION_NAME=RegionOne
#export OS_PROJECT_DOMAIN_ID=default                      
#export OS_USER_DOMAIN_ID=default                         
#export OS_PROJECT_NAME=admin                             
#export OS_IMAGE_API_VERSION=2                            
